<%= form_with(model: portafolio, local: true) do |form| %>
  <% if portafolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portafolio.errors.count, "error") %> prohibited this portafolio from being saved:</h2>

      <ul>
      <% portafolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 row g-3 align-items-center">
    
    <%= form.text_field :first_name, class:"form-control",placeholder:"First name" %>
  </div>

  <div class="mb-3 row g-3 align-items-center">
   
    <%= form.text_field :lat_name, class:"form-control",placeholder:"Last Name" %>
  </div>

  <div class="mb-3 row g-3 align-items-center">
    
    <%= form.text_field :email, class:"form-control",placeholder:"Email" %>
  </div>

  <div class="mb-3 row g-3 align-items-center">
    
    <%= form.text_field :twitter, class:"form-control",placeholder:"Twitter" %>
  </div>

  <div class:"actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
