



<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>First name</th>
      <th>Lat name</th>
      <th>Email</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portafolios.each do |portafolio| %>
      <tr>
        <td><%= portafolio.first_name %></td>
        <td><%= portafolio.lat_name %></td>
        <td><%= portafolio.email %></td>
        <td><%= portafolio.twitter %></td>
        <td><%= link_to 'Show', portafolio %></td>
        <td><%= link_to 'Edit', edit_portafolio_path(portafolio) %></td>
        <td><%= link_to 'Destroy', portafolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portafolio', new_portafolio_path, class:"btn btn-secondary"%>

