<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @portafolio.first_name %>
</p>

<p>
  <strong>Lat name:</strong>
  <%= @portafolio.lat_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @portafolio.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @portafolio.twitter %>
</p>

<%= link_to 'Edit', edit_portafolio_path(@portafolio) %> |
<%= link_to 'Back', portafolios_path %>
